<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- 読み込むDBのパス -->
	<add key="DatabasePath" value="C:\Users\OKAJIMA\source\repos\SalaryManager\SalaryManager.Infrastructure\SalaryManager.db"/>

	<!-- 和暦フォーマット -->
	<add key="YearFormat" value="ggy"/>

	<!-- API Key -->
	<add key="API_Key" value=""/>

	<!-- Google Driveの対象フォルダ -->
	<add key="DriveFolderID" value=""/>

	<!-- OAuth 2.0 Client Secret -->
	<add key="ClientSecret" value="C:\Users\OKAJIMA\source\repos\SalaryManager\SalaryManager.Infrastructure\Google Calendar\\client_secret_732519433057-69j4ur5vdpca55vfscem296gesd5j16o.apps.googleusercontent.com.json"/>
</appSettings>
