<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- 読み込むDBのパス -->
	<add key="DatabasePath" value="C:\Users\OKAJIMA\source\repos\SalaryManager\SalaryManager.Infrastructure\SalaryManager.db"/>

	<!-- 和暦フォーマット -->
	<add key="YearFormat" value="ggy"/>

	<!-- API Key -->
	<add key="API_Key" value="AIzaSyB6P0iD888ZjeV8wMFPY9PWTTPXS1TkiqI" />

	<!-- Google Driveの対象フォルダ -->
	<add key="DriveFolderID" value="1sE_XnrJk3U9ZSq9hHUPNgOqPYpmbwXwS" />

	<!-- Fitbit用 - OAuth 2.0 クライアントID -->
	<add key="Fitbit_ClientId" value="23PQG4" />

	<!-- Fitbit用 - クライアントシークレット -->
	<add key="Fitbit_ClientSecret" value="671444b7d6d7166986b6e5dd4d8823b8" />

	<!-- Fitbit用 - リクエストURI -->
	<add key="Fitbit_TokenRequestUri" value="https://api.fitbit.com/oauth2/token" />

	<!-- Fitbit用 - リダイレクトURL -->
	<add key="Fitbit_RedirectUri" value="http://localhost:5000/" />

	<!-- Fitbit用 - リフレッシュトークンURI -->
	<add key="Fitbit_RefreshToken" value="86c7acad8a4cfa4f6adf2e04812421d40e4be1c4e310fff9d4f7118aecc1fb7e" />

	<!-- OAuth 2.0 Client Secret -->
	<add key="ClientSecret" value="C:\Users\OKAJIMA\source\repos\SalaryManager\SalaryManager.Infrastructure\Google Calendar\\client_secret_732519433057-69j4ur5vdpca55vfscem296gesd5j16o.apps.googleusercontent.com.json" />
</appSettings>
