<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- 読み込むDBのパス -->
	<add key="DatabasePath" value=""/>

	<!-- 和暦フォーマット -->
	<add key="YearFormat" value="ggy"/>

	<!-- API Key -->
	<add key="API_Key" value=""/>

	<!-- Google Driveの対象フォルダ -->
	<add key="DriveFolderID" value=""/>

	<!-- OAuth 2.0 Client Secret -->
	<add key="ClientSecret" value=""/>
</appSettings>
